
<div class="wrapper">
    <h1 class="displayHeader">My Favorite Tech</h1>
    <hr style="background: white;">
    <div class="logos">
        <div class="wideScreen" style="text-align: center">
            <div class="row">
                <img (click)="changeTech('html')" src="assets/imgs/icons/HTML.png" class="col-2 col-sm-2" alt="HTML icon">
                <img (click)="changeTech('css')" src="assets/imgs/icons/CSS.png" class="col-2 col-sm-2" alt="CSS icon">
                <img (click)="changeTech('javascript')" src="assets/imgs/icons/JavaScript.png" class="col-2 col-sm-2" alt="JavaScript icon">
                <img (click)="changeTech('bootstrap')" src="assets/imgs/icons/bootstrap.png" class="col-2 col-sm-2" alt="Bootstrap icon">
                <img (click)="changeTech('jquery')" src="assets/imgs/icons/jQuery.png" class="col-2 col-sm-2" alt="jQuery icon">
            </div>
            <div class="row">
                <img (click)="changeTech('ajax')" src="assets/imgs/icons/ajax.png" class="col-2 col-sm-2" alt="Ajax icon">
                <img (click)="changeTech('angular')" src="assets/imgs/icons/angular.png" class="col-2 col-sm-2" alt="angular icon">
                <img (click)="changeTech('node')" src="assets/imgs/icons/nodejs.png" class="col-2 col-sm-2" alt="nodejs icon">
                <img (click)="changeTech('express')" src="assets/imgs/icons/expressjs.png" class="col-2 col-sm-2" alt="expressjs icon">
                <img (click)="changeTech('mongodb')" src="assets/imgs/icons/mongodb.png" class="col-2 col-sm-2" alt="mongodb icon">
            </div>
            <div class="row">
                <img (click)="changeTech('mean')" src="assets/imgs/icons/MEAN.png" class="col-2 col-sm-2" alt="MEAN icon">
                <img (click)="changeTech('c#')" src="assets/imgs/icons/c-sharp.png" class="col-2 col-sm-2" alt="c# icon">
                <img (click)="changeTech('python')" src="assets/imgs/icons/python.png" class="col-2 col-sm-2" alt="python icon">
                <img (click)="changeTech('django')" src="assets/imgs/icons/django.png" class="col-2 col-sm-2" alt="django icon">
                <img (click)="changeTech('mysql')" src="assets/imgs/icons/mysql.png" class="col-2 col-sm-2" alt="mysql icon">
            </div>
            <div class="row">
                <img (click)="changeTech('sqlite')" src="assets/imgs/icons/sqlite.png" class="col-2 col-sm-2" alt="sqlite icon">
                <img (click)="changeTech('ubuntu')" class="ubuntu" src="assets/imgs/icons/ubuntu.png" class="col-2 col-sm-2" alt="ubuntu icon">
                <img (click)="changeTech('github')" src="assets/imgs/icons/github.png" class="col-2 col-sm-2" alt="github icon">
            </div>
        </div>
        <div class="mobile">
            <div class="blank"></div>
            <img style="margin-top: 10px;" (click)="infoAlert('html')" src="assets/imgs/icons/HTML.png" class="col-4 col-sm-2" alt="HTML icon">
            <div class="blank"></div>
            <img (click)="infoAlert('css')" src="assets/imgs/icons/CSS.png" class="col-4 col-sm-2" alt="CSS icon">
            <div class="blank"></div>
            <img (click)="infoAlert('javascript')" src="assets/imgs/icons/JavaScript.png" class="col-4 col-sm-2" alt="JavaScript icon">
            <div class="blank"></div>
            <img (click)="infoAlert('bootstrap')" src="assets/imgs/icons/bootstrap.png" class="col-4 col-sm-2" alt="Bootstrap icon">
            <div class="blank"></div>
            <img (click)="infoAlert('jquery')" src="assets/imgs/icons/jQuery.png" class="col-4 col-sm-2" alt="jQuery icon">
            <div class="blank"></div>
            <img (click)="infoAlert('ajax')" src="assets/imgs/icons/ajax.png" class="col-4 col-sm-2" alt="Ajax icon">
            <div class="blank"></div>
            <img (click)="infoAlert('angular')" src="assets/imgs/icons/angular.png" class="col-4 col-sm-2" alt="angular icon">
            <div class="blank"></div>
            <img (click)="infoAlert('mean')" src="assets/imgs/icons/MEAN.png" class="col-4 col-sm-2" alt="MEAN icon">
            <div class="blank"></div>
            <img (click)="infoAlert('node')" src="assets/imgs/icons/nodejs.png" class="col-4 col-sm-2" alt="nodejs icon">
            <div class="blank"></div>
            <img (click)="infoAlert('express')" src="assets/imgs/icons/expressjs.png" class="col-4 col-sm-2" alt="expressjs icon">
            <div class="blank"></div>
            <img (click)="infoAlert('mongodb')" src="assets/imgs/icons/mongodb.png" class="col-4 col-sm-2" alt="mongodb icon">
            <div class="blank"></div>
            <img (click)="infoAlert('asp')" src="assets/imgs/icons/c-sharp.png" class="col-4 col-sm-2" alt="c# icon">
            <div class="blank"></div>
            <img (click)="infoAlert('python')" src="assets/imgs/icons/python.png" class="col-4 col-sm-2" alt="python icon">
            <div class="blank"></div>
            <img (click)="infoAlert('django')" src="assets/imgs/icons/django.png" class="col-4 col-sm-2" alt="django icon">
            <div class="blank"></div>
            <img (click)="infoAlert('mysql')" src="assets/imgs/icons/mysql.png" class="col-4 col-sm-2" alt="mysql icon">
            <div class="blank"></div>
            <img (click)="infoAlert('sqlite')" src="assets/imgs/icons/sqlite.png" class="col-4 col-sm-2" alt="sqlite icon">
            <div class="blank"></div>
            <img style="margin-bottom: 50px;" (click)="infoAlert('ubuntu')" class="ubuntu" src="assets/imgs/icons/ubuntu.png" class="col-4 col-sm-2" alt="ubuntu icon">
            <div class="blank"></div>
            <img style="margin-bottom: 50px;" (click)="infoAlert('github')" src="assets/imgs/icons/github.png" class="col-4 col-sm-2" alt="github icon">
        </div>
    </div>
    <div class="techInfo">
        <hr>
        <h3 *ngIf="showTech === 'temp'">Click a technology to learn more!</h3>
        <img *ngIf="showTech === 'html'" src="assets/imgs/icons/HTML.png" class="tempIcon" alt="HTML icon">

        <div *ngIf="showTech === 'html'" class="techText">
            <h3>HTML</h3>
            <hr>
            <p>HTML stands for Hyper Text Markup Language. Html is the standard markup language for Web pages, represented by element tags. These tags include headings and paragraphs, images, links, lists, tables, forms...etc.</p>
        </div>

        <img *ngIf="showTech === 'css'" src="assets/imgs/icons/CSS.png" class="tempIcon" alt="CSS icon">
        <div *ngIf="showTech === 'css'" class="techText">
            <h3>CSS</h3>
            <hr>
            <p>CSS stands for "Cascading Style Sheet." Cascading style sheets are used to format the layout of Web pages. They can be used to define element sizes, margins, colors, and other aspects of Web pages that previously could only be defined in a page's HTML.</p>
        </div>

        <img *ngIf="showTech === 'javascript'" src="assets/imgs/icons/JavaScript.png" class="tempIcon" alt="Javascript icon">
        <div *ngIf="showTech === 'javascript'" class="techText">
            <h3>Javascript</h3>
            <hr>
            <p>Javscript is a scripting/programming language, primarily used on the web to render web pages in an interactive and dynamic fashion. Javascript can be used to update and change both HTML and CSS. Javascript can also be used to calculate, manipulate, and validate data. </p>
        </div>

        <img *ngIf="showTech === 'bootstrap'" src="assets/imgs/icons/bootstrap.png" class="tempIcon" alt="Bootstrap icon">
        <div *ngIf="showTech === 'bootstrap'" class="techText">
            <h3>Bootstrap</h3>
            <hr>
            <p>Bootstrap is a popular CSS Framework for developing responsive and mobile-first websites. Bootstrap is a library containg styling classes and js functions, to be imported into a project and used within html elements. </p>
        </div>

        <img *ngIf="showTech === 'jquery'" src="assets/imgs/icons/jQuery.png" class="tempIcon" alt="jQuery icon">
        <div *ngIf="showTech === 'jquery'" class="techText">
            <h3>jQuery</h3>
            <hr>
            <p>jQuery is a Javascript library that greatly simplifies javascript programming, and is easy to learn. jQuery can be used within an HTML script tag, rather than importing a Javscript file. </p>
        </div>

        <img *ngIf="showTech === 'ajax'" src="assets/imgs/icons/ajax.png" class="tempIcon" alt="Ajax icon">
        <div *ngIf="showTech === 'ajax'" class="techText">
            <h3>Ajax</h3>
            <hr>
            <p>Ajax stands for Asynchronous Javscript and XML. Ajax is a new technology to create better, faster, and more interactive webpages. This is possible by Ajax's ability to update a web page without reloading, and communicate with the server in the background; all after the page has loaded.</p>
        </div>

        <img *ngIf="showTech === 'angular'" src="assets/imgs/icons/angular.png" class="tempIcon" alt="ANgular icon">
        <div *ngIf="showTech === 'angular'" class="techText">
            <h3>Angular</h3>
            <hr>
            <p>Angular is a framework for creating single page, front-end applications with HTML and Typescript. The power of Angular is its ability to update a single page with many seperate components. Rather than routing and rendering seperate pages to display different content, the desired components get exchanged; without having to reload the page.</p>
        </div>

        <img *ngIf="showTech === 'mean'" src="assets/imgs/icons/MEAN.png" class="tempIcon" alt="mean icon">
        <div *ngIf="showTech === 'mean'" class="techText">
            <h3>MEAN</h3>
            <hr>
            <p>MEAN - stands for MongoDB, Express, Angular, Node - is a set of technologies to enable creation of a full stack application. A full-stack app in the context of MEAN consists of a browser (Angular), a server (Node), a server framework (Express), and a database (MongoDB).</p>
        </div>

        <img *ngIf="showTech === 'node'" src="assets/imgs/icons/nodejs.png" class="tempIcon" alt="Nodejs icon">
        <div *ngIf="showTech === 'node'" class="techText">
            <h3>Node.js</h3>
            <hr>
            <p>Node is a developement platform for executing Javascript code server-side. Node is useful for developing applications that require a persistent connection from the browser to the server, and is often used for real-time applications.</p>
        </div>

        <img *ngIf="showTech === 'express'" src="assets/imgs/icons/expressjs.png" class="tempIcon" alt="Express icon">
        <div *ngIf="showTech === 'express'" class="techText">
            <h3>Express.js</h3>
            <hr>
            <p>Express is a framework for Node.js, designed for building web applications and API's. Express is the back-end component of the MEAN stack.</p>
        </div>

        <img *ngIf="showTech === 'mongodb'" src="assets/imgs/icons/mongodb.png" class="tempIcon" alt="MongoDB icon">
        <div *ngIf="showTech === 'mongodb'" class="techText">
            <h3>MongoDB</h3>
            <hr>
            <p>MongoDB is a document based database management tool that stores data in JSON-like formats. It is highly scalable, flexible, and distributed NoSQL database.</p>
        </div>

        <img *ngIf="showTech === 'c#'" src="assets/imgs/icons/c-sharp.png" class="tempIcon" alt="C# icon">
        <div *ngIf="showTech === 'c#'" class="techText">
            <h3>ASP.NET Core</h3>
            <hr>
            <p>ASP.NET Core is a cross-platform, high-performance framework for building modern web applications. </p>
        </div>

        <img *ngIf="showTech === 'python'" src="assets/imgs/icons/python.png" class="tempIcon" alt="Python icon">
        <div *ngIf="showTech === 'python'" class="techText">
            <h3>Python</h3>
            <hr>
            <p>Python is a high level programming language designed to be easy to read and simple to implement, often used to create web applications. Python is also commonly used for data-analysis due to its large library, which eases many tasks.</p>
        </div>

        <img *ngIf="showTech === 'django'" src="assets/imgs/icons/django.png" class="tempIcon" alt="Django icon">
        <div *ngIf="showTech === 'django'" class="techText">
            <h3>Django</h3>
            <hr>
            <p>Django is a framework written in Python that makes creating large web applications very easy.</p>
        </div>

        <img *ngIf="showTech === 'mysql'" src="assets/imgs/icons/mysql.png" class="tempIcon" alt="MySQL icon">
        <div *ngIf="showTech === 'mysql'" class="techText">
            <h3>MySQL</h3>
            <hr>
            <p>MySQL is a relational database management system based on Structured Query Language (SQL). MySQL runs on virtually all platforms, including Linux, UNIX, and Windows.</p>
        </div>

        <img *ngIf="showTech === 'sqlite'" src="assets/imgs/icons/sqlite.png" class="tempIcon" alt="SQLite icon">
        <div *ngIf="showTech === 'sqlite'" class="techText">
            <h3>SQLite</h3>
            <hr>
            <p>SQLite is a lightweight relational database management system, used to store user-defined records in large tables.</p>
        </div>

        <img *ngIf="showTech === 'ubuntu'" src="assets/imgs/icons/ubuntu.png" class="tempIcon" alt="Ubuntu icon">
        <div *ngIf="showTech === 'ubuntu'" class="techText">
            <h3>Ubuntu</h3>
            <hr>
            <p>Ubuntu - an old african word meaning 'humanity to others' - is a complete Linux operating system. The online AWS server for this website is ran on ec2 instance of an Ubuntu 16.04 LTS server.</p>
        </div>

        <img *ngIf="showTech === 'github'" src="assets/imgs/icons/github.png" class="tempIcon" alt="Github icon">
        <div *ngIf="showTech === 'github'" class="techText">
            <h3>Github</h3>
            <hr>
            <p>Github is a code hosting platform for collaboration and version control. Github allows you (and others) to work together on projects. </p>
        </div>
    </div>
</div>