
.row {
    display: inline-block;
}
img {
    transition: .4s all ease-in-out;
    border: 3px solid white;
    border-radius: 100%;
    padding: 10px;
    background-color: rgba(190, 190, 190,.5);
}
img:hover {
    transform: scale(1.2);
    background-color: rgba(80, 200, 255, 0.5);
    /* background-color: rgba(255, 80, 80, 0.5); */
}
@media only screen and (max-width: 480px) {
    .wideScreen {
        display: none;
    }
}
@media only screen and (min-width: 481px) {
    .mobile {
        display: none;
    }
}