
.row {
    display: inline-block;
}
img {
    transition: .4s all ease-in-out;
    border: 3px solid white;
    border-radius: 100%;
    padding: 10px;
    background-color: rgba(190, 190, 190,.5);
    margin: -15px -15px;
}
.blank {
    display: inline-block;
    width: 30%;
    height: 48px;
    margin: -5px -2px;
}
img:hover {
    transform: scale(1.2);
    background-color: rgba(80, 200, 255, 0.5);
    cursor: pointer;
    /* background-color: rgba(255, 80, 80, 0.5); */
}
.mobile {
    width: 100%;
    margin: 0px auto;
}

.tempIcon {
    text-align: left;
    background-color: rgba(190, 190, 190,.5);
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
}
.techText {
    width: 75%;
    display: inline-block;
    color: white;
    vertical-align: top;
    margin-left: 10px;
}
.techText p {
    margin-left: 20px;
    font-weight: bold;
}

.definition {
    margin-left: 5%;
    width: 90%;
    line-height: 1;
}
.techText hr {
    margin-bottom: 0px;
    margin-top: -5px;
    background: #818181;
}
@media only screen and (max-width: 480px) {
    .wideScreen {
        display: none;
    }
    .logos {
        width: 100%;
        text-align: center;
    }
    .techInfo {
        display: none;
    }
}
@media only screen and (min-width: 481px) {
    .mobile {
        display: none;
    }
    img {
        margin: 7px 10px;
    }
    .logos {
        width: 90%;
        margin: 0px auto;
    }
    .techInfo {
        color: white;
        text-align: center;
    }
    .techText h3 {
        font-size: 1.4rem;
        text-align: left;
    }
    .techText p {
        font-size: 10px;
        text-align: left;
    }
    .tempIcon {
        height: 100%;
        width: 75px;
    }
}
@media only screen and (min-width: 780px) {
    .tempIcon {
        height: 90px;
        width: 90px;
    }
    .techText h3 {
        font-size: 1.25rem;
    }
    .techText p {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1024px) {
    .icons {
        width: 90%;
    }
    .tempIcon {
        height: 132px;
        width: 132px;
    }
    .techText h3 {
        font-size: 1.75rem;
    }
    .techText p {
        font-size: 14px;
    }
}