

@media only screen and (max-width: 480px) {
    .contactWrapper {
        width: 100%;
        height: 700px;
        background: #3498db;
        background: 
            radial-gradient(
                at center, #f5eacb, #3498db
            );
    }
    .contactWrapper h2 {
        text-align: center;
        padding-top: 20%;
        font-size: 28px;
        font-family: 'Libre Baskerville', sans-serif;
        color: #292929;
    }
    .icons {
        margin: 5% auto;
        height: 500px;
        width: 40vw;
        text-align: center;
    }
    .icons img {
        width: 70%;
        transition: all .2s ease-in-out;
        margin-top: 30px;
    }
    .icons img:hover{
        transform: scale(1.1);
    }
    .glow {
        color: #2e2e2e;
        text-align: center;
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9ca3ff, 0 0 20px #9ca3ff, 0 0 25px #9ca3ff, 0 0 30px #9ca3ff, 0 0 35px #9ca3ff;
    }
    
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #ddd, 0 0 20px #ddd, 0 0 25px #ddd, 0 0 30px #ddd, 0 0 35px #ddd, 0 0 40px #ddd;
    }
    }
}

@media only screen and (min-width: 481px) {
    .contactWrapper {
        width: 100%;
        min-height: 600px;
        background: #3498db;
        background: 
            radial-gradient(
                at center, #f5eacb, #3498db
            );
    }
    .contactWrapper h2 {
        text-align: center;
        padding-top: 5%;
        font-family: 'Libre Baskerville', sans-serif;
        color: #292929;
    }
    .icons {
        margin: auto;
        margin-top: 110px;
        height: 40%;
        width: 60%;
    }
    .left, .right {
        height: 75%;
        width: 21%;
        display: inline-block;
        vertical-align: top;
    }
    .icons img {
        transition: all .2s ease-in-out;
    }
    .left img {
        width: 100%;
    }
    .right img {
        width: 100%;
    }
    .right img:hover{
        transform: scale(1.1);
    }
    .left img:hover {
        transform: scale(1.1);    
    }
    
    .middle {
        height: 75%;
        width: 21%;
        margin: 0% 18.5% 0% 18.5%;
        display: inline-block;
        vertical-align: top;
        transition: all 1s ease-in-out;
    }
    .middle img {
        width: 100%;
    }
    .middle img:hover{
        transform: scale(1.1);
    }
    .glow {
        color: #2e2e2e;
        text-align: center;
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9ca3ff, 0 0 20px #9ca3ff, 0 0 25px #9ca3ff, 0 0 30px #9ca3ff, 0 0 35px #9ca3ff;
    }
    
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #ddd, 0 0 20px #ddd, 0 0 25px #ddd, 0 0 30px #ddd, 0 0 35px #ddd, 0 0 40px #ddd;
    }
    }
}
@media only screen and (min-width: 1024px) {

    .contactWrapper {
        width: 100%;
        height: 600px;
        background: #3498db;
        background: 
            radial-gradient(
                at center, #f5eacb, #3498db
            );
    }
    .contactWrapper h2 {
        text-align: center;
        padding-top: 5%;
        font-family: 'Libre Baskerville', sans-serif;
        color: #292929;
    }
    .icons {
        margin: 5% auto;
        height: 40%;
        width: 60%;
    }
    .left, .right {
        height: 75%;
        width: 21%;
        display: inline-block;
        vertical-align: top;
    }
    .icons img {
        transition: all .2s ease-in-out;
    }
    .left img {
        width: 100%;
    }
    .right img {
        width: 100%;
    }
    .right img:hover{
        transform: scale(1.1);
    }
    .left img:hover {
        transform: scale(1.1);    
    }
    
    .middle {
        height: 75%;
        width: 21%;
        margin: 0% 18.5% 0% 18.5%;
        display: inline-block;
        vertical-align: top;
        transition: all 1s ease-in-out;
    }
    .middle img {
        width: 100%;
    }
    .middle img:hover{
        transform: scale(1.1);
    }
}