
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

<!-- <div class="contactWrapper"> -->
    <h2 class="glow displayHeader">Let's talk!</h2>
    <div class="icons">
        <div class="third">
            <a href="mailto:ramsteadwilson@gmail.com?subject=Email from your website!"><img src="assets/imgs/icons/emal5.png" alt="Email logo"></a>
            <p>Email</p>
        </div>
        <div class="third">
            <a href="https://www.linkedin.com/in/wilson-ramstead-50a613183" target="_blank"><img src="assets/imgs/icons/linkedin.png" alt="linkedin logo"></a>
            <p>LinkedIn</p>
        </div>
        <div class="third">
            <a href="https://github.com/wilsonramstead" target="_blank"><img class="test" src="assets/imgs/icons/github.png" alt="Github logo"></a>
            <p>Github</p>
        </div>
    </div>
<!-- </div> -->