<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h1 class="glow displayHeader">This Website</h1>
    
    <div class="section">
        <div class="title"><h4>Front End</h4></div>
        <div class="icons">
            <div class="block">
                <img src="assets/imgs/icons/HTML.png" alt="HTML icon">
                <h6>HTML</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/CSS.png" alt="CSS icon">
                <h6>CSS</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/JavaScript.png" alt="Javascript icon">
                <h6>Javascript</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/angular.png" alt="Angular icon">
                <h6>Angular</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/bootstrap.png" alt="Bootstrap icon">
                <h6>Bootstrap</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/jQuery.png" alt="Jquery icon">
                <h6>jQuery</h6>
            </div>
            <hr>
            <p>Using only these front-end technologies, this website can be built.</p>
        </div>
    </div>
    <div class="section">
        <div class="title"><h4>Back End</h4></div>
        <div class="icons">
            <hr>
            <p>A website usually requires a back-end server to route between pages and to handle client HTTP requests. But because this website does neither of these, their is no need for a server. - Angular 'routes' between pages instead of the server, by interchanging page components.</p>
        </div>
    </div>
    <div class="section">
        <div class="title"><h4>Database</h4></div>
        <div class="icons">
            <hr>
            <p>This website requires no database.</p>
        </div>
    </div>
</div>