
.section {
    margin-top: 50px;
}
.block {
    display: inline-block;
    width: 16%;
    transition: .2s all ease-in-out;
}
.block:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 480px) {
    .icons {
        width: 100%;
    }
    .block {
        width: 26%;
        margin: 0px 5px;
    }
}
@media only screen and (min-width: 481px) {
    .icons {
        width: 95%;
    }
    .block {
        width: 16%;
    }
}
@media only screen and (min-width: 1024px) {
    .icons {
        width: 88%;
    }
}