<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h1 class="glow displayHeader">This Website</h1>
    
    <div class="section">
        <div class="techTitle"><h4 class="techHead">Front End</h4></div>
        <div class="icons">
            <div class="block">
                <img src="assets/imgs/icons/HTML.png" alt="HTML icon">
                <h6 class="blockHead">HTML</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/CSS.png" alt="CSS icon">
                <h6 class="blockHead">CSS</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/JavaScript.png" alt="Javascript icon">
                <h6 class="blockHead">Javascript</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/angular.png" alt="Angular icon">
                <h6 class="blockHead">Angular</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/bootstrap.png" alt="Bootstrap icon">
                <h6 class="blockHead">Bootstrap</h6>
            </div>
            <hr>
            <p>Using only these front-end technologies, this website can be built.</p>
        </div>
    </div>
    <div class="section">
        <div class="techTitle"><h4 class="techHead">Back End</h4></div>
        <div class="icons">
            <div class="block">
                <img src="assets/imgs/icons/nodejs.png" alt="Node icon">
                <h6 class="blockHead">Node.js</h6>
            </div>
            <div class="block">
                <img src="assets/imgs/icons/expressjs.png" alt="Express icon">
                <h6 class="blockHead">Express.js</h6>
            </div>
            <hr>
            <p>Although there is a Node server and Express framework, this website was completely handled by Angular alone. Server used for deployement purposes.</p>
        </div>
    </div>
    <div class="section">
        <div class="techTitle"><h4 class="techHead">Database</h4></div>
        <div class="icons">
            <hr>
            <p>This website requires no database.</p>
        </div>
    </div>
</div>