

/* html {
    scroll-behavior: smooth;
} */
#navbar {
    display: grid;
    height: 55px;
    width: 100vw;
    position: absolute;
    z-index: 1;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(#424242, #292929);
}
.nav {
    text-align: center;
}
.navbar-nav li a {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
}
.tags {
    width: 92vw;
    height: 5vh;
    margin: 0px auto;
    text-align: center;
}
.dropup .dropdown-menu {
    background-color: #2e2e2e;
    margin: -20vh 0vw 0vh 0vw;
    position: fixed;
    text-align: center;
    opacity: .95;
    width: 100vw;
    bottom: 54px;
}
#navbar a {
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.7vh;
}
button {
    margin-left: 20%;
    position: aboslute;
    left: 40vw;
}
#navbar a:hover {
    color: #1200e7;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    button .navbar-toggler-icon {
        height: 30px;
    }
    .navbar-toggler {
        position: fixed;
        left: 23vw;
        height: 40px;
        margin-top: 6px;
    }

}


@media only screen and (min-width: 481px) {
    .navbar {
        margin-bottom: 0px;
    }
    button .navbar-toggler-icon {
        /* margin-top: -20px; */
        height: 30px;
        /* margin-top: -2vh; */
    }
    .navbar-toggler {
        /* margin-top: -5vh; */
        /* margin-top: -2%; */
        position: fixed;
        left: 23vw;
        height: 40px;
        margin-top: 6px;
    }
}

@media only screen and (min-width: 576px) {
    #navbar {
        position: sticky;
        top: 0;
    }
    .tags {
        width: 88vw;
    }
    #navbar a {
        font-size: 20px;
    }
    .openTags li {
        margin-right: 2vw;
    }
}
