

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.headWrapper {
    display: grid;
    height: 94vh;
    width: 100vw;
    background: 
        linear-gradient(to top, transparent, #cce0ff 100%),
        #292929 repeating-linear-gradient(45deg, transparent, transparent 35px,
        #2e2e2e 35px, #383838 70px);
}
.header {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.header h1 {
    font-size: 10vw;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 11px 7px 20px rgb(0, 0, 231);
    margin-bottom: 1vh;
}
.header h3 {
    font-size: 4vw;
    font-family: 'Libre Baskerville', serif; 
    text-decoration: underline;
}
.globe {
    margin: 0px auto;
    margin-top: 160px;
    height: 250px;
    width: 250px;
    background-image: url(https://imgc.allpostersimages.com/img/print/u-g-PN13HF0.jpg?w=550&h=550&p=0);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear alternate infinite;
}
@keyframes spin {
    100%{background-position: 100%};
}
@media only screen and (max-width: 480px) {
    .header {
        height: 20vh;
        padding-top: 24vh;
    }
}
@media only screen and (min-width: 481px) {
    .header {
        height: 44vh;
        padding-top: 19vh;
    }
    .header h1,.period {
        display: inline-block;
    }
    .header .period {
        color: white;
        text-shadow: 2px 2px rgb(0, 0, 231);
    }
    .globe {
        height: 300px;
        width: 300px;
    }
}
@media only screen and (min-width: 630px) {
    .header {
        padding-top: 16vh;
    }
    .header h1 {
        font-size: 4em;
    }
    .header h3 {
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 1024px) {
    .globe {
        margin-top: -50px;
        height: 400px;
        width: 400px;
    }
}
