<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

<div class="bodyWrapper">
    <!-- WIDESCREEN -->
    <ul class="mainList">
        <li (click)="showList('about')">About</li>
        <ul *ngIf="listToShow === 'about'" class="nestedList">
            <li *ngIf="pageToShow === 'aboutMe'" class="activePage">About Me</li>
            <li *ngIf="pageToShow != 'aboutMe'"  (click)="showPage('aboutMe')">About Me</li>
            <li *ngIf="pageToShow === 'whatIDo'" class="activePage">What I do</li>
            <li *ngIf="pageToShow != 'whatIDo'" (click)="showPage('whatIDo')">What I do</li>
        </ul>
        <li (click)="showList('portfolio')">Portfolio</li>
        <ul *ngIf="listToShow === 'portfolio'" class="nestedList">
            <li *ngIf="pageToShow === 'projectUno'" class="activePage">The Wall</li>
            <li *ngIf="pageToShow != 'projectUno'" (click)="showPage('projectUno')">The Wall</li>
            <li *ngIf="pageToShow === 'projectDos'" class="activePage">Goal Tracker</li>
            <li *ngIf="pageToShow != 'projectDos'" (click)="showPage('projectDos')">Goal Tracker</li>
            <li>Gameflix</li>
            <li>This Website!</li>
        </ul>
        <li (click)="showList('tech')">Tech</li>
        <ul *ngIf="listToShow === 'tech'" class="nestedList">
            <li>My Favorite Tech</li>
        </ul>
        <li>Contact</li>
    </ul>

    <!-- LESS THAN 1024px -->
    <div class="responsiveNav">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>About</button>
            <div class="dropList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="showPage('aboutMe')" ngbDropdownItem>About Me</button>
                <button (click)="showPage('whatIDo')" ngbDropdownItem>What I Do</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Portfolio</button>
            <div class="dropList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="showPage('projectUno')" ngbDropdownItem>The Wall</button>
                <button (click)="showPage('projectDos')" ngbDropdownItem>Goal Tracker</button>
                <button (click)="showPage('projectTres')" ngbDropdownItem>Gameflix</button>
                <button (click)="showPage('thisWebsite')" ngbDropdownItem>This Website!</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Tech</button>
            <div class="dropList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="showPage('aboutMe')" ngbDropdownItem>My Favorite Tech</button>
            </div>
        </div>
        <button (click)="showPage('contact')" class="btn btn-outline-primary" id="dropdown1">Contact</button>
    </div>
    <!-- ------------------------------------------------- -->

    <div class="display">
        <app-about *ngIf="pageToShow === 'aboutMe'"></app-about>
        <app-what-ido *ngIf="pageToShow === 'whatIDo'"></app-what-ido>
        <app-project-uno *ngIf="pageToShow === 'projectUno'"></app-project-uno>
        <app-project-dos *ngIf="pageToShow === 'projectDos'"></app-project-dos>
    </div>

    <ul class="backgroundAnimation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>