<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="bodyWrapper">
    <app-corner-title id="wsTitle" *ngIf="pageToShow != 'intro'"></app-corner-title>
    <!-- WIDESCREEN -->
    <ul class="mainList">
        <li (click)="showList('about')">About</li>
        <ul *ngIf="listToShow === 'about'" class="nestedList">
            <li *ngIf="pageToShow === 'aboutMe'" class="glow">About Me</li>
            <li *ngIf="pageToShow != 'aboutMe'" (click)="showPage('aboutMe')">About Me</li>
            <li *ngIf="pageToShow === 'whatIDo'" class="glow">What I do</li>
            <li *ngIf="pageToShow != 'whatIDo'" (click)="showPage('whatIDo')">What I do</li>
        </ul>
        <li (click)="showList('portfolio')">Portfolio</li>
        <ul *ngIf="listToShow === 'portfolio'" class="nestedList">
            <li *ngIf="pageToShow === 'projectUno'" class="glow">The Wall</li>
            <li *ngIf="pageToShow != 'projectUno'" (click)="showPage('projectUno')">The Wall</li>
            <li *ngIf="pageToShow === 'projectDos'" class="glow">Goal Tracker</li>
            <li *ngIf="pageToShow != 'projectDos'" (click)="showPage('projectDos')">Goal Tracker</li>
            <li *ngIf="pageToShow === 'projectTres'" class="glow">Gameflix</li>
            <li *ngIf="pageToShow != 'projectTres'" (click)="showPage('projectTres')">Gameflix</li>
        </ul>

        <!-- <li *ngIf="pageToShow === 'tech'" style="color: #2e2e2e; text-shadow: 2px 2px 4px white">Tech</li> -->
        <!-- <li *ngIf="pageToShow != 'tech'" (click)="showPage('tech')">Tech</li> -->
        <li (click)="showList('tech')">Tech</li>
        <ul *ngIf="listToShow === 'tech'" class="nestedList">
            <li *ngIf="pageToShow === 'favoriteTech'" class="glow">My Favorite Tech</li>
            <li *ngIf="pageToShow != 'favoriteTech'" (click)="showPage('favoriteTech')">My Favorite Tech</li>
            <li *ngIf="pageToShow === 'thisWebsite'" class="glow">This Website</li>
            <li *ngIf="pageToShow != 'thisWebsite'" (click)="showPage('thisWebsite')">This Website</li>
        </ul>

        <li *ngIf="pageToShow === 'contactMe'" class="glow">Contact</li>
        <li *ngIf="pageToShow != 'contactMe'" (click)="showPage('contactMe')">Contact</li>
    </ul>

    <!-- LESS THAN 1024px -->
    <div class="responsiveNav">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>About</button>
            <div class="dropList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="showPage('aboutMe')" ngbDropdownItem>About Me</button>
                <button (click)="showPage('whatIDo')" ngbDropdownItem>What I Do</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Portfolio</button>
            <div class="dropList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="showPage('projectUno')" ngbDropdownItem>The Wall</button>
                <button (click)="showPage('projectDos')" ngbDropdownItem>Goal Tracker</button>
                <button (click)="showPage('projectTres')" ngbDropdownItem>Gameflix</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Tech</button>
            <div class="dropList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="showPage('favoriteTech')" ngbDropdownItem>My Favorite Tech</button>
                <button (click)="showPage('thisWebsite')" ngbDropdownItem>This Website</button>
            </div>
        </div>
        <button (click)="showPage('contactMe')" class="btn btn-outline-primary" id="dropdown1">Contact</button>
    </div>
    <!-- ------------------------------------------------- -->

    <div class="display">
        <app-intro *ngIf="pageToShow === 'intro'"></app-intro>
        <app-about (navLink)="showPage($event); showList('tech')" *ngIf="pageToShow === 'aboutMe'"></app-about>
        <app-what-ido *ngIf="pageToShow === 'whatIDo'"></app-what-ido>
        <app-project-uno *ngIf="pageToShow === 'projectUno'"></app-project-uno>
        <app-project-dos *ngIf="pageToShow === 'projectDos'"></app-project-dos>
        <app-project-tres *ngIf="pageToShow === 'projectTres'"></app-project-tres>
        <app-contact-me *ngIf="pageToShow === 'contactMe'"></app-contact-me>
        <app-technology *ngIf="pageToShow === 'favoriteTech'"></app-technology>
        <app-this-website *ngIf="pageToShow === 'thisWebsite'"></app-this-website>
    </div>
    <app-corner-title id="ssTitle" *ngIf="pageToShow != 'intro'"></app-corner-title>

    <ul class="backgroundAnimation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="hide"></li>
        <li class="hide"></li>
        <li class="hide"></li>
        <li class="hide"></li>
        <li class="hide"></li>
        <li class="hide"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>