
.bodyWrapper {
    /* min-height: 700px; */
    height: 100vh;
    /* background: linear-gradient(-45deg, #2544f3, #db473c); */
    width: 100%;
    padding: 1%;
    position: relative;
    z-index: 1;
    /* #d24846 */
    /* background: linear-gradient(-45deg, #643fbb, #948e8f, #a7cfe4, #0dabe4); */
    /* background: linear-gradient(-45deg, #be0202, #b9b7b7, #c6d6df, #05a7e2); */
    /* background: linear-gradient(-45deg, #a852ee, #e73c59, #23a6d5, #23d5ab); */
}

#dropdown1 {
    border: none;
    font-weight: bold;
    color: white;
}
.display {
    height: 60vh;
    width: 100%;
    /* background-color: pink; */
    /* border: 3px solid black; */
    border-radius: 25px;
    padding: 25px;
    animation: pulse 3s forwards;
    overflow: auto;
}

.dropdown-toggle::after {
    display: none;
}
.responsiveNav {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
}
<<<<<<< HEAD
=======
.responsiveNav {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
}
>>>>>>> parent of 24c1b35... added alerts to icons for technology component (mobile)
.responsiveNav.scrolled {
    background: rgba(46, 46, 46, 0.801);
    z-index: 10;
    transition: background 500ms;
    border-radius: 0px 0px 20px 20px;
}
.backgroundAnimation li {
    position: absolute;
    display: block;
    list-style: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    opacity: 0;
    bottom: 0px;
    transition: all .2s ease-in-out;
    z-index: -1;
}
.backgroundAnimation li:nth-child(1) {
    left: 90%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}
.backgroundAnimation li:nth-child(2) {
    left: 8%;
    width: 40px;
    height: 40px;
    animation-delay: 1s;
    animation-duration: 20s;
}
.backgroundAnimation li:nth-child(3) {
    left: 64%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
}
.backgroundAnimation li:nth-child(4) {
    left: 53%;
    width: 140px;
    height: 140px;
    animation-delay: 3s;
    animation-duration: 25s;
}
.backgroundAnimation li:nth-child(5) {
    left: 72%;
    width: 40px;
    height: 40px;
    animation-delay: 6.5s;
}
.backgroundAnimation li:nth-child(6) {
    left: 15%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
}
.backgroundAnimation li:nth-child(7) {
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 9s;
}
.backgroundAnimation li:nth-child(8) {
    left: 12%;
    width: 20px;
    height: 20px;
    animation-delay: 7s;
    animation-duration: 20s;
}
.backgroundAnimation li:nth-child(9) {
    left: 76%;
    width: 70px;
    height: 70px;
    animation-delay: 15s;
}
.backgroundAnimation li:nth-child(10) {
    left: 35%;
    width: 100px;
    height: 100px;
    animation-delay: 10s;
    animation-duration: 25s;
}
.backgroundAnimation li:nth-child(11) {
    left: 88%;
    width: 40px;
    height: 40px;
    animation-delay: 12s;
}
.backgroundAnimation li:nth-child(12) {
    left: 25%;
    width: 90px;
    height: 90px;
    animation-delay: 16s;
}
.display {
    height: 80vh;
    width: 100%;
    /* overflow: auto; */
}


@media only screen and (max-width:480px) {
    .bodyWrapper {
        background: linear-gradient(-45deg, #be0202, #d4d4d4, #05a7e2);
        background-size: 400% 400%;
        animation: gradientBG 15s ease infinite;
    }
    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    #dropdown1 {
        font-size: 18px;
    }
    .mainList {
        display: none;
    }
    .dropList {
        background-color: rgba(46, 46, 46, .8);
    }
    .dropList button {
        color: white;
    }
    .dropList button:hover {
        background-color: rgba(37, 68, 243, .8)
    }
    .widescreenOnly {
        display: none;
    }
    .hide {
        display: none;
    }
    .backgroundAnimation li:nth-child(4) {
        display: none;
    }
    .backgroundAnimation li:nth-child(9) {
        display: none;
    }
    .backgroundAnimation li:nth-child(10) {
        display: none;
    }
    .backgroundAnimation li:nth-child(8) {
        display: none;
    }
    .backgroundAnimation li:nth-child(7) {
        display: none;
    }
    @keyframes animate {
        0% {
            transform: translateY(-1125px) scale(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-200px) scale(2.5);
            opacity: 0;
        }
    }
    #wsTitle {
        display: none;
    }
}
@media only screen and (min-width:481px) {
    .bodyWrapper {
        background: linear-gradient(-45deg, #be0202, #d4d4d4, #05a7e2);
        background-size: 400% 400%;
        animation: gradientBG 15s ease infinite;
    }
    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    #dropdown1 {
        font-size: 22px;
    }
    .dropList {
        background-color: rgba(46, 46, 46, .8);
    }
    .dropList button {
        color: white;
    }
    .mainList {
        display: none;
    }
    .dropList button:hover {
        background-color: rgba(37, 68, 243, .8)
    }
    @keyframes animate {
        0% {
            transform: translateY(-850px) scale(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-200px) scale(2.5);
            opacity: 0;
        }
    }
    #wsTitle {
        display: none;
    }
}
@media only screen and (min-width:1024px) {
    .info {
        font-size: 16px;
    }
    .responsiveNav {
        display: none;
    }
    .mainList {
        min-height: 40vh;
        width: 20%;
        position: sticky;
        top: 0;
        font-size: 28px;
        color: white;
        margin-left: 20px;
        font-weight: bold;
        font-family: 'Libre Baskerville', serif;
        display: inline-block;
        border-left: 3px solid white;
        border-radius: 25px;
    }
    .mainList li {
        transition: all .3s ease-in-out;
        margin-top: 20px;
        display: block;
        text-align: left;
    }
    .mainList li:hover {
        transform: scale(1.2);
        cursor: pointer;
        color: rgb(211, 211, 211);
    }
    .nestedList {
        display: block;
        /* color: #2e2e2e; */
        color: white;
        font-family: 'Libre Baskerville', serif;
    }
    
    .mainList .nestedList li {
        transition: all .3s ease-in-out;
        margin: 20px 0px;
        font-size: 16px;
        width: 150px;
    }
    .nestedList li:hover {
        transform: scale(1.2);
        cursor: pointer;
        color: rgb(211, 211, 211);
    }
    .display {
        height: 80vh;
        width: 68%;
        border-radius: 25px;
        display: inline-block;
        position: relative;
        left: 6%;
        top: 10vh;
        vertical-align: top;
        padding: 25px;
        /* border-top: 4px solid white; */
        /* border-bottom: 4px solid white; */
        /* background-color: rgba(255, 255, 255, 0.1); */
        /* background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.2)); */
        /* overflow: auto; */
    }
    @keyframes animate {
        0% {
            transform: translateY(-950px) scale(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-100px) scale(2.5);
            opacity: 0;
        }
    }
    #ssTitle {
        display: none;
    }
    #wsTitle {
        display: unset;
    }
}