
.bodyWrapper {
    min-height: 700px;
    background: linear-gradient(to left, #2544f3, #db473c);
    width: 100%;
    padding: 2%;
    position: relative;
    z-index: 1;
}
#dropdown1 {
    border: none;
    font-weight: bold;
    color: white;
}
.display {
    height: 60vh;
    width: 100%;
    /* background-color: pink; */
    /* border: 3px solid black; */
    border-radius: 25px;
    padding: 25px;
}
.activePage {
    color: white;
}
.dropdown-toggle::after {
    display: none;
}

.backgroundAnimation li {
    position: absolute;
    display: block;
    list-style: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    opacity: 0;
    bottom: 0px;
    transition: all .2s ease-in-out;
    z-index: -1;
}
.backgroundAnimation li:nth-child(1) {
    left: 90%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}
.backgroundAnimation li:nth-child(2) {
    left: 8%;
    width: 40px;
    height: 40px;
    animation-delay: 1s;
    animation-duration: 20s;
}
.backgroundAnimation li:nth-child(3) {
    left: 64%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
}
.backgroundAnimation li:nth-child(4) {
    left: 53%;
    width: 140px;
    height: 140px;
    animation-delay: 3s;
    animation-duration: 25s;
}
.backgroundAnimation li:nth-child(5) {
    left: 72%;
    width: 40px;
    height: 40px;
    animation-delay: 6.5s;
}
.backgroundAnimation li:nth-child(6) {
    left: 15%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
}
.backgroundAnimation li:nth-child(7) {
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 9s;
}
.backgroundAnimation li:nth-child(8) {
    left: 12%;
    width: 20px;
    height: 20px;
    animation-delay: 7s;
    animation-duration: 20s;
}
.backgroundAnimation li:nth-child(9) {
    left: 76%;
    width: 70px;
    height: 70px;
    animation-delay: 15s;
}
.backgroundAnimation li:nth-child(10) {
    left: 35%;
    width: 100px;
    height: 100px;
    animation-delay: 10s;
    animation-duration: 25s;
}
.backgroundAnimation li:nth-child(11) {
    left: 88%;
    width: 40px;
    height: 40px;
    animation-delay: 12s;
}
.backgroundAnimation li:nth-child(12) {
    left: 25%;
    width: 90px;
    height: 90px;
    animation-delay: 14s;
}
@keyframes animate {
    0% {
        transform: translateY(-630px) scale(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) scale(2.5);
        opacity: 0;
    }
}

@media only screen and (max-width:480px) {
    .bodyWrapper {
        min-height: 850px;
    }
    #dropdown1 {
        font-size: 20px;
    }
    .mainList {
        display: none;
    }
    .responsiveNav {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .dropList {
        background-color: #2e2e2e;
        color: white;
    }
    .dropList button {
        color: white;
    }

}
@media only screen and (min-width:481px) {
    .bodyWrapper {
        min-height: 750px;
    }
    #dropdown1 {
        font-size: 22px;
    }
    .responsiveNav {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .dropList {
        background-color: #2e2e2e;
        color: white;
    }
    .dropList button {
        color: white;
    }
    .mainList {
        display: none;
    }
}
@media only screen and (min-width:1024px) {
    .bodyWrapper {
        min-height: 700px;
    }
    .info {
        font-size: 16px;
    }
    .responsiveNav {
        display: none;
    }
    .mainList {
        height: 40vh;
        width: 20%;
        font-size: 28px;
        color: white;
        list-style: none;
        font-weight: bold;
        font-family: 'Libre Baskerville', serif;
        display: inline-block;
    }
    .mainList li {
        transition: all .3s ease-in-out;
        margin-top: 20px;
        display: block;
        text-align: left;
    }
    .mainList li:hover {
        transform: scale(1.2);
        cursor: pointer;
        color: rgb(211, 211, 211);
    }
    .nestedList {
        display: block;
        color: #2e2e2e;
        font-family: 'Libre Baskerville', serif;
    }
    
    .nestedList li {
        transition: all .3s ease-in-out;
        margin: 20px 0px;
        font-size: 16px;
        width: 150px;
    }
    .nestedList li:hover {
        transform: scale(1.2);
        cursor: pointer;
        color: rgb(211, 211, 211);
    }
    .display {
        height: 60vh;
        width: 70%;
        border-radius: 25px;
        display: inline-block;
        position: relative;
        left: 10%;
        top: 10vh;
        vertical-align: top;
        padding: 25px;
    }
}