
.wrapper {
    height: 800px;
    width: 100%;
    background-image: url(/assets/imgs/seattle.jpeg);
    background-size: cover;
    padding: 15px;
    text-align: center;
}
.list {
    width: 30%;
    height: 550px;
    position: absolute;
    left: 1vw;
}
h2 {
    font-size: 32px;
    font-weight: 800;
    color: white;
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    margin-top: 15px;
}
h3 {
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    width: 150px;
    margin-top: 4vh;
    font-size: 1.5rem;
}
.list .primary li {
    list-style: none;
    color: white;
}
.list .secondary li {
    font-size: 16px;
    width: 265px;
    list-style: none;
    text-align: left;
    margin-top: 20px;
    margin-left: 8%;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: all .2s ease-in-out;
}
.list .secondary li:hover {
    transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
    .list {
        position: absolute;
        left: 1vw;
    }
    h3 {
        font-size: 1.5rem;
    }
}


@media only screen and (min-width: 481px) {
    .wrapper {
        height: 720px;
    }
    h2 {
        margin-left: 2%;
        margin-top: 0px;
    }
}



@media only screen and (min-width: 630px) {
    .wrapper {
        text-align: unset;
    }
    .list {
        position: absolute;
        left: unset;
        right: 25vw;
    }
}


@media only screen and (min-width: 860px) {
    .list {
        right: 10vw;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        height: 90vh;
    }
}
