
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h2>What I Do</h2>
    <div class="list">
        <ul class="primary">
            <div class="titleOne">
                <li><h3 class="glow">Front End</h3></li>
                <ul class="secondary glow">
                    <li>Responsive Layouts</li>
                    <li>Styling and Animations</li>
                    <li>Front End Architecture</li>
                </ul>
            </div>
           
        </ul>
        <ul class="primary">
            <div class="titleTwo">
                <li><h3 class="glow">Back End</h3></li>
                <ul class="secondary glow">
                    <li>MVC Architecture</li>
                    <li>Object Relational Mapping</li>
                    <li>Object Oriented Programming</li>
                </ul>
            </div>
        </ul>
        <ul class="primary">
            <div class="titleThree">
                <li><h3 class="glow">Database</h3></li>
                <ul class="secondary glow">
                    <li>Database Design</li>
                    <li>SQL Databases</li>
                    <li>NoSQL Databases</li>
                </ul>
            </div>
        </ul>
    </div>
</div>