<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="projThreeWrapper">
    <div class="carousel">
        <ngb-carousel style="width: 96%;">
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/weddingIndex.png" alt="Wedding Index">
            </div>
            <div class="carousel-caption">
                <h3>Login/Register</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/weddingDash.png" alt="Wedding Dashboard">
            </div>
            <div class="carousel-caption">
                <h3>Dashboard</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/weddingCreate.png" alt="Create Wedding">
            </div>
            <div class="carousel-caption">
                <h3>Create a Wedding</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/weddingView.png" alt="View other weddings">
            </div>
            <div class="carousel-caption">
                <h3>View Wedding Details</h3>
            </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="content">
        <h2 class="glow">Wedding Planner</h2>
        <p>Full stack CRUD application built with C#. </p>
        <a href="https://github.com/wilsonramstead/Wedding_planner" target="_blank">View Source Code</a>
        <div class="build">
            <a><h4 (click)="showTech()" class="buildH4">What this website is built with. </h4></a>
            <div class="projThreeTech">
                <div class="tech">
                    <h5 class="label">Front End</h5>
                    <hr>
                    <div class="frontEnd row">
                        <div class="col col-xs-6 col-sm-2">
                            <h5>HTML</h5>
                            <img src="assets/imgs/icons/HTML.png" alt="HTML icon">
                        </div>
                        <div class="col col-xs-6 col-sm-2">
                            <h5>CSS</h5>
                            <img src="assets/imgs/icons/CSS.png" alt="CSS icon">
                        </div>
                        <!-- <div class="col-xs-6 col-sm-2">
                            <h5>JavaScript</h5>
                            <img src="assets/imgs/icons/JavaScript.png" alt="JavaScript icon">
                        </div> -->
                        <div class="col col-xs-6 col-sm-2">
                            <h5>Bootstrap</h5>
                            <img src="assets/imgs/icons/bootstrap.png" alt="Bootstrap icon">
                        </div>
                    </div>
                </div>
                <div class="tech">
                    <h5 class="label">Back End</h5>
                    <hr>
                    <div class="backEnd row">
                        <div class="col-xs-6">
                            <h5>C#</h5>
                            <img src="assets/imgs/icons/c-sharp.png" alt="c# icon">
                        </div>
                        <div class="col-xs-6">
                            <h5>Entity</h5>
                            <img src="assets/imgs/icons/entity.png" class="entity" alt="entity icon">
                        </div>
                    </div>
                </div>
                <div class="tech">
                    <h5 class="label">Database</h5>
                    <hr>
                    <div class="database row">
                    <div class="col-xs-12">
                        <h5>MySql</h5>
                        <img src="assets/imgs/icons/mysql.png" alt="mysql icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>