
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="aboutWrapper">
    <div class="left">
        <h2>About Me</h2>
    </div>
    <div class="right">
        <h3 class="glow">Welcome!</h3>
        <p>Hello and welcome to my website! I am a dedicated and motivated professional seeking an opportunity to showcase my creative and technical proficiency. My goal is to attain a position which will provide an opportunity for growth and personal development, as well as the opportunity to expand my knowledge. As a recent graduate of a highly respected development boot camp in Seattle, I am eager to enter the workforce and pursue my dream.</p>
    </div>
</div>