
.aboutWrapper {
    height: 600px;
    width: 100vw;
    text-align: center;
    background: #d9d9d9;
    background: 
        radial-gradient(
        at center, white, #5c5c5c
        );
}
.left {
    text-align: center;
    margin-bottom: 8%;
    padding-top: 3%;
}
.left h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: white;
}
.right {
    font-family: 'Barlow', sans-serif;
    width: 80vw;
    margin: 0px auto;
}    
.right h3 {
    margin-bottom: 10%;
    font-size: 34px;
}
.right p {
    font-size: 18px;
}
.right a {
    color: #007bfe;
}
.right a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 481px) {
   .aboutWrapper {
       height: 450px;
   }
   .left {
        margin-bottom: 2%;
   }
   .left h2 {
        margin-top: 0px;
   }
   .right h3 {
       margin-bottom: 5%;
   }
}

@media only screen and (min-width: 630px) {
    .right p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .aboutWrapper {
        height: 400px;
        text-align: unset;
    }
    .left {
        width: 30vw;
        height: 345px;
        display: inline-block;
        vertical-align: top;
    }
    .left h2 {
        margin-left: -40%;
        font-size: 32px;
        font-weight: 800;
        vertical-align: top;
        padding-top: 10vh;
        color: white;
    }
    
    .right {
        width: 55vw;
        height: 300px;
        display: inline-block;
        margin-top: 10vh;
        margin-left: 8vw;
        font-size: 18px;
    }
    .right h3 {
        margin-bottom: 4vh;
        font-weight: 600;
    }
    
}
