



@media only screen and (max-width:480px) {
    .projFourWrapper {
        height: 200px;
        width: 100%;
        background: radial-gradient(at center, rgb(206, 206, 206), #5c5c5c);
        color: white;
        text-align: center;
        padding-top: 70px;
    }
    .projFourWrapper h1 {
        font-size: 26px;
    }
}
@media only screen and (min-width: 481px) {
    .projFourWrapper {
        height: 200px;
        width: 100%;
        background: #5c5c5c;
        color: white;
        text-align: center;
        padding-top: 70px;
    }
    .projFourWrapper h1 {
        font-size: 36px;
    }
}
