<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="projOneWrapper">
    <div class="carousel">
        <ngb-carousel style="width: 96%;">
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/theWallMain.png" alt="The Wall Main">
            </div>
            <div class="carousel-caption">
                <h3>Login/Register</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/theWallMainFeed.png" alt="User Main Feed">
            </div>
            <div class="carousel-caption">
                <h3>Public Feed</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/theWallAccount.png" alt="Account Page">
            </div>
            <div class="carousel-caption">
                <h3>Account Page</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/theWallDM.png" alt="DM Page">
            </div>
            <div class="carousel-caption">
                <h3>Direct Messaging</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/imgs/projectPics/theWallGroupFeed.png" alt="DM Page">
                </div>
                <div class="carousel-caption">
                    <h3>Private Groups</h3>
                </div>
                </ng-template>
        </ngb-carousel>
    </div>
    <div class="content">
        <h2 class="glow">The Wall</h2>
        <p>A website where users can register an account and create posts to a public wall. Users can comment on other users posts, and visit their customized account page. Users have a network feature to list all users they are and are not connected to. Users can have private direct message conversations with other users, and create a private wall with a group of their connections.</p>
        <a href="http://54.213.156.218" target="_blank">Visit Website</a>
        <a href="https://github.com/wilsonramstead/theWall" target="_blank">View Source Code</a>
        <div class="build">
            <a><h4 (click)="showTech()" class="buildH4">What this website is built with. </h4></a>
            <div class="projOneTech">
                <div class="tech">
                    <h5 class="label">Front End</h5>
                    <hr>
                    <div class="frontEnd row">
                        <div class="col col-xs-6">
                            <h5>HTML</h5>
                            <img src="assets/imgs/icons/HTML.png" alt="HTML icon">
                        </div>
                        <div class="col col-xs-6">
                            <h5>CSS</h5>
                            <img src="assets/imgs/icons/CSS.png" alt="CSS icon">
                        </div>
                        <div class="col col-xs-6">
                            <h5>JavaScript</h5>
                            <img src="assets/imgs/icons/JavaScript.png" alt="JavaScript icon">
                        </div>
                        <div class="col col-xs-6">
                            <h5>jQuery</h5>
                            <img src="assets/imgs/icons/jQuery.png" alt="jQuery icon">
                        </div>
                        <div class="col col-xs-6">
                            <h5>Bootstrap</h5>
                            <img src="assets/imgs/icons/bootstrap.png" alt="Bootstrap icon">
                        </div>
                    </div>
                </div>
                <div class="tech">
                    <h5 class="label">Back End</h5>
                    <hr>
                    <div class="backEnd row">
                        <div class="col-xs-6">
                            <h5>C#</h5>
                            <img src="assets/imgs/icons/c-sharp.png" alt="c# icon">
                        </div>
                        <div class="col-xs-6">
                            <h5>Entity</h5>
                            <img src="assets/imgs/icons/entity.png" class="entity" alt="entity icon">
                        </div>
                    </div>
                </div>
                <div class="tech">
                    <h5 class="label">Database</h5>
                    <hr>
                    <div class="database row">
                    <div class="col-xs-12">
                        <h5>MySql</h5>
                        <img src="assets/imgs/icons/mysql.png" alt="mysql icon">
                    </div>
                </div>
                <div class="devTools">
                    <h5 class="label">Dev Tools</h5>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h5>Node Package Manager</h5>
                            <img src="assets/imgs/icons/nodejs.png" alt="node.js icon">
                        </div>
                        <div class="col">
                            <h5>Github</h5>
                            <img src="assets/imgs/icons/github.png" alt="github icon">
                        </div>
                        <div class="col">
                            <h5>AWS</h5>
                            <img class="aws" src="assets/imgs/icons/aws.png" alt="aws logo">
                        </div>
                        <div class="col">
                            <h5>Ubuntu</h5>
                            <img class="ubuntu" src="assets/imgs/icons/ubuntu.png" alt="ubuntu logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>