.carousel-caption h3 {
    color: white;
}
.block {
    display: inline-block;
    transition: .2s all ease-in-out;
}
.block:hover {
    transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
    .carousel {
        width: 300px;
        margin: 0px auto;
    }
    .content {
        top: 30px;
    }
    .icons {
        width: 100%;
    }
    .block {
        width: 26%;
        margin: 0px 5px;
    }
}
@media only screen and (min-width: 481px) {
    .carousel {
        width: 500px;
    }
    .content {
        top: 120px;
    }
    .icons {
        width: 95%;
    }
    .block {
        width: 16%;
    }
}
@media only screen and (min-width: 1024px) {
    .icons {
        width: 88%;
    }
}