<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h3 class="displayHeader">Welcome!</h3>
    <hr style="background: white;">

    <h4 class="labelOne">Personal Objective</h4>
    <hr class="miniHr">
    <p class="aboutMeText">I am a dedicated and motivated professional seeking an opportunity to showcase my creative and technical proficiency. My goal is to attain a position which will provide an opportunity for growth and personal development, as well as the opportunity to expand my knowledge. As a recent graduate of a highly respected development boot camp in Seattle, I am eager to enter the workforce and pursue my dream.</p>
    <hr style="width: 90%; margin: 25px 0%;">

    <h4 class="labelOne">Technical Highlights</h4>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Languages: </strong> Javascript (ES6), Python, C#, CSS3, HTML5, Typescript, MySQL.</p>
    <p class="aboutMeText"><strong style="color: black;">Frameworks: </strong> Flask, Django, Angular, .NETCore, ASP.Net, Unity.</p>
    <p class="aboutMeText"><strong style="color: black;">Notable Libraries: </strong> jQuery, Ajax, Express, Node, Bootstrap, Ng-Bootstrap.</p>
    <p class="aboutMeText"><strong style="color: black;">Database: </strong> MySql, Sqlite, MongoDB, Entity.</p>
    <p class="aboutMeText"><strong style="color: black;">Cloud Services: </strong> AWS, Azure.</p>
    <p class="aboutMeText"><strong style="color: black;">Tools: </strong> Git, Visual Studio, VS Code, Postman, and completed multiple group projects with paired programming.</p>
    <hr style="width: 90%; margin: 25px 0%;">

    <div class="leftLarge">
        <h4 class="labelOne releventLabel">Relevent Experience</h4>
        <a class="githubLink" target="_blank" href="https://github.com/wilsonramstead">https://github.com/wilsonramstead</a>
        <hr class="miniHr">
        <h6 class="nestedHeader">RESTful API</h6>
        <p style="margin-left: 10%;" class="aboutMeText">Designed and developed many RESTful API projects. I have implemented full functional API based software using Node, ASP.Net, and python.</p>
        <h6 class="nestedHeader">Login and Registration</h6>
        <p style="margin-left: 10%;" class="aboutMeText">Designed and developed multiple robust login and registration applications. These included many different types of validation including client side and server side. I have completed these applications using Angular, Django, Flask, and ASP.</p>
        <h6 class="nestedHeader">Messaging and Blogging</h6>
        <p style="margin-left: 10%;" class="aboutMeText">Developed and implemented multiple messaging and blogging applications. These included public and private systems, administration, and user options and control. These included full database creation. These projects were created using the full MEAN stack, .Net Core/ASP, and Python/Django among others.</p>
        <h6 class="nestedHeader">Event and Activity Planning</h6>
        <p style="margin-left: 10%;" class="aboutMeText">Developed many activity and event organizing web applications. These have varied in complexity and functionality. The majority of these applications involved a front end, a server, and full database support.</p>
        <h6 class="nestedHeader">Personal Projects</h6>
        <ul style="list-style-type: square;">
            <li class="aboutMeText">Designed and created multiple HTML, CSS, and JavaScript based websites.</li>
            <li class="aboutMeText">Designed and created many full stack applications not listed on this website during my studies at <a target="_blank" href="https://www.codingdojo.com/">Coding Dojo</a>.</li>
            <li class="aboutMeText">Designed and created a full portfolio website (<a class="link" (click)="callParent('thisWebsite')">this website</a>). This website consists of a large Angular front end, with no Server or Database.</li>
            <li class="aboutMeText">Check out the Portfolio Projects shown on this website!</li>
        </ul>
    </div>
    <hr style="width: 90%; margin: 25px 0%;">
    <h4 class="labelOne">Work Experience</h4>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Mindtree </strong><span class="date">November 2019 - Current</span></p>
    <ul><li class="jobTitle">Software Engineer</li></ul>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Coding Dojo </strong><span class="date">April 2019 - July 2019</span></p>
    <ul><li class="jobTitle">Full-Stack Web Development</li></ul>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Cactus Restaurants </strong><span class="date">August 2018 - December 2018</span></p>
    <ul><li class="jobTitle">Busser</li></ul>
    <p class="aboutMeText"><strong style="color: black;">City of Kirkland </strong><span class="date">May 2014 - September 2017 (Seasonal)</span></p>
    <ul><li class="jobTitle">Lifeguard</li></ul>

    <hr style="width: 90%; margin: 25px 0%;">
    <h4 class="labelOne">Education</h4>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Coding Dojo</strong><span class="date">April 2019 - July 2019</span></p>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Washington State University</strong><span class="date">August 2017 - June 2018</span></p>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Lake Washington Institute of Technology</strong><span class="date">2016 - 2017</span></p>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Juanita High School</strong><span class="date">2013 - 2016</span></p>
</div>