<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h3 class="displayHeader">Welcome!</h3>
    <hr style="background: white;">
    <h4 style="color: white;">My personal resume</h4>
    <a style="color: #3a3a3a; display: block;" href="mailto:ramsteadwilson@gmail.com?subject=Email from your website!">ramsteadwilson@gmail.com</a>
    <a style="color: #3a3a3a; display: block;" href="https://www.linkedin.com/in/wilson-ramstead-50a613183/">https://www.linkedin.com/in/wilson-ramstead-50a613183/</a>
    <a style="color: #3a3a3a; display: block; margin-bottom: 20px;" href="https://github.com/wilsonramstead">https://github.com/wilsonramstead</a>

    <h4 class="labelOne">Personal Objective</h4>
    <hr class="miniHr">
    <p class="aboutMeText">I am a dedicated and motivated professional seeking an opportunity to showcase my creative and technical proficiency. My goal is to attain a position which will provide an opportunity for growth and personal development, as well as the opportunity to expand my knowledge. As a recent graduate of a highly respected development boot camp in Seattle, I am eager to enter the workforce and pursue my dream.</p>
    <hr style="width: 90%; margin: 25px 0%;">

    <h4 class="labelOne">Technical Highlights</h4>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Languages: </strong> Javascript (ES6), Python, C#, CSS3, HTML5, Typescript, MySQL.</p>
    <p class="aboutMeText"><strong style="color: black;">Frameworks: </strong> Flask, Django, Angular, .NETCore, ASP.Net.</p>
    <p class="aboutMeText"><strong style="color: black;">Notable Libraries: </strong> jQuery, Ajax, Express, Node, Bootstrap, Ng-Bootstrap.</p>
    <p class="aboutMeText"><strong style="color: black;">Database: </strong> MySql, Sqlite, MongoDB.</p>
    <p class="aboutMeText"><strong style="color: black;">Cloud Services: </strong> AWS, Azure.</p>
    <p class="aboutMeText"><strong style="color: black;">Tools: </strong> Azure Data Factory, Git, Visual Studio, VS Code, Postman, PowerShell, and completed multiple group projects with paired programming.</p>
    <hr style="width: 90%; margin: 25px 0%;">

    <div class="leftLarge">
        <h4 class="labelOne releventLabel">Relevent Experience</h4>
        <div>
            <h5 class="REheader" style="background-color: #f1dc7d; padding: 1px;">Mindtree Limited</h5>
            <h6 class="REheader">November 2019 - Present</h6>
            <a class="githubLink" target="_blank" href="https://www.mindtree.com/">https://www.mindtree.com/</a>
            <hr class="miniHr">
            <p style="color: white;"><strong>Big Data support engineer</strong> with Microsoft Azure Data Factory and Azure Data Lake Storage.</p>
            <h6 class="nestedHeader">Job Requirements</h6>
            <ul style="list-style-type: square;">
                <li class="aboutMeText">Work with customer support tickets raised with Azure support, to debug and fix Data Factory errors.</li>
                <li class="aboutMeText">Managing and navigating cases to solve the customer’s errors/requests. Cases range from 1 to 40+ days. Requires meeting and working with the customer's team, collaborating between multiple internal service teams (network team, sql db team, etc...), and the azure product teams - until customer error is resolved.</li>
                <li class="aboutMeText">Work with critical situation premier severity A cases with large business impacts.</li>
                <li class="aboutMeText">Currently, have resolved 50+ cases, with seven 5 star ratings and customer appreciation reviews.</li>
            </ul>
            <h6 class="REheader nestedHeader">Data Factory</h6>
            <a class="githubLink" target="_blank" href="https://azure.microsoft.com/en-us/services/data-factory/">https://azure.microsoft.com/en-us/services/data-factory/</a>
            <ul style="list-style-type: square;">
                <li class="aboutMeText">Hybrid data integration service that simplifies ETL at scale.</li>
                <li class="aboutMeText"><strong>Tech:</strong> ​ETL and ELT processes, working with 90+ database connectors, pipelines, pipeline activities, data flows, data flow activities, linked services, and integration runtimes.</li>
                <li class="aboutMeText">Cloud big data experience.</li>
            </ul>
        </div>
        <div>
            <h5 class="REheader" style="background-color: #f1dc7d; padding: 1px;">Coding Dojo</h5>
            <h6 class="REheader">April 2019 - November 2019</h6>
            <a class="githubLink" target="_blank" href="https://github.com/wilsonramstead">https://github.com/wilsonramstead</a>
            <hr class="miniHr">
            <h6 class="nestedHeader">RESTful API</h6>
            <p style="margin-left: 10%;" class="aboutMeText">Designed and developed many RESTful API projects. I have implemented full functional API based software using Node, ASP.Net, and python.</p>
            <h6 class="nestedHeader">Login and Registration</h6>
            <p style="margin-left: 10%;" class="aboutMeText">Designed and developed multiple robust login and registration applications. These included many different types of validation including client side and server side. I have completed these applications using Angular, Django, Flask, and ASP.</p>
            <h6 class="nestedHeader">Messaging and Blogging</h6>
            <p style="margin-left: 10%;" class="aboutMeText">Developed and implemented multiple messaging and blogging applications. These included public and private systems, administration, and user options and control. These included full database creation. These projects were created using the full MEAN stack, .Net Core/ASP, and Python/Django among others.</p>
            <h6 class="nestedHeader">Event and Activity Planning</h6>
            <p style="margin-left: 10%;" class="aboutMeText">Developed many activity and event organizing web applications. These have varied in complexity and functionality. The majority of these applications involved a front end, a server, and full database support.</p>
            <h6 class="nestedHeader">Personal Projects</h6>
            <ul style="list-style-type: square;">
                <li class="aboutMeText">Designed and created multiple HTML, CSS, and JavaScript based websites.</li>
                <li class="aboutMeText">Designed and created many full stack applications not listed on this website during my studies at <a target="_blank" href="https://www.codingdojo.com/">Coding Dojo</a>.</li>
                <li class="aboutMeText">Designed and created a full portfolio website (<a class="link" (click)="callParent('thisWebsite')">this website</a>). This website consists of a large Angular front end, with no Server or Database.</li>
                <li class="aboutMeText">Check out the Portfolio Projects shown on this website!</li>
            </ul>
        </div>
    </div>
    <hr style="width: 90%; margin: 25px 0%;">
    <h4 class="labelOne">Work Experience</h4>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Mindtree </strong><span class="date">November 2019 - Present</span></p>
    <ul><li class="jobTitle">Software Engineer</li></ul>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Coding Dojo </strong><span class="date">April 2019 - November 2019</span></p>
    <ul><li class="jobTitle">Full-Stack Web Developer</li></ul>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Cactus Restaurants </strong><span class="date">August 2018 - December 2018</span></p>
    <ul><li class="jobTitle">Busser</li></ul>
    <p class="aboutMeText"><strong style="color: black;">City of Kirkland </strong><span class="date">May 2014 - September 2017 (Seasonal)</span></p>
    <ul><li class="jobTitle">Lifeguard</li></ul>

    <hr style="width: 90%; margin: 25px 0%;">
    <h4 class="labelOne">Education</h4>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Coding Dojo</strong><span class="date">April 2019 - July 2019</span></p>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Washington State University</strong><span class="date">August 2017 - June 2018</span></p>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Lake Washington Institute of Technology</strong><span class="date">2016 - 2017</span></p>
    <hr class="miniHr">
    <p class="aboutMeText"><strong style="color: black;">Juanita High School</strong><span class="date">2013 - 2016</span></p>
</div>