<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h3 class="glow displayHeader">What I Do</h3>

    <div class="block">
        <h3 class="title glow">Front End</h3>
        <div class="cube">
            <span style="background: rgba(100, 152, 249, 0.7)"></span>
            <span style="background: rgba(124, 165, 211, 0.7)"></span>
            <span style="background: rgba(111, 129, 188, 0.7)"></span>
        </div>
        <div class="info">
            <p>Responsive Layouts</p>
            <p>Styling and Animations</p>
            <p>Front End Architecture</p>
        </div>
    </div>
    <hr>
    <div class="block">
        <h3 class="title glow">Back End</h3>
        <div class="cube">
            <span style="background: rgba(249, 239, 100, 0.7)"></span>
            <span style="background: rgba(211, 205, 124, 0.7)"></span>
            <span style="background: rgba(183, 188, 111, 0.7)"></span>
        </div>
        <div class="info">
            <p>MVC Architecture</p>
            <p>Object Relational Mapping</p>
            <p>Restful API</p>
        </div>
    </div>
    <hr>
    <div class="block">
        <h3 class="title glow">Database</h3>
        <div class="cube">
            <span style="background: rgba(117, 249, 100, 0.7)"></span>
            <span style="background: rgba(149, 211, 124, 0.7)"></span>
            <span style="background: rgba(124, 188, 111, 0.7)"></span>
        </div>
        <div class="info">
            <p>Database Design</p>
            <p>SQL Databases</p>
            <p>NoSQL Databases</p>
        </div>
    </div>
    <hr>



    <!-- <div class="list">
        <div class="titleOne">
            <h3>Front End</h3>
            <ul class="secondary">
                <li>Responsive Layouts</li>
                <li>Styling and Animations</li>
                <li>Front End Architecture</li>
            </ul>
        </div>
        <div class="cube"></div>
        <div class="titleTwo">
            <li><h3>Back End</h3></li>
            <ul class="secondary">
                <li>MVC Architecture</li>
                <li>Object Relational Mapping</li>
                <li>Restful API</li>
            </ul>
        </div>
        <div class="cube"></div>
        <div class="titleThree">
            <li><h3>Database</h3></li>
            <ul class="secondary">
                <li>Database Design</li>
                <li>SQL Databases</li>
                <li>NoSQL Databases</li>
            </ul>
        </div>
        <div class="cube"></div>
    </div> -->
</div>