<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h3 class="glow displayHeader">What I Do</h3>

    <div class="block">
        <h3 class="title glow">Front End</h3>
        <div class="cube" id="cubeOne">
            <span style="background: rgba(100, 244, 249, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(124, 211, 211, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(111, 176, 188, 0.7); border: 2px solid white;"></span>

            <!-- <span style="background: white; border: 2px solid lime;"></span>
            <span style="background: rgba(100, 244, 249, 0.7); border: 2px solid rgb(0, 225, 255);"></span>
            <span style="background: black; border: 2px solid #d91dff;"></span> -->
        </div>
        <div class="info">
            <p>Responsive Layouts</p>
            <p>Styling and Animations</p>
            <p>Front End Architecture</p>
        </div>
    </div>
    <hr>
    <div class="block">
        <h3 class="title glow">Back End</h3>
        <div class="cube" id="cubeTwo">
            <span style="background: rgba(249, 100, 100, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(211, 124, 124, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(188, 111, 111, 0.7); border: 2px solid white;"></span>

            <!-- <span style="background: black; border: 2px solid rgb(0, 225, 255);"></span>
            <span style="background: white; border: 2px solid #d91dff;"></span>
            <span style="background: rgba(147, 249, 100, 0.7); border: 2px solid lime;"></span> -->
        </div>
        <div class="info">
            <p>MVC Architecture</p>
            <p>Object Relational Mapping</p>
            <p>Restful API</p>
        </div>
    </div>
    <hr>
    <div class="block">
        <h3 class="title glow">Database</h3>
        <div class="cube" id="cubeThree">
            <span style="background: rgba(147, 249, 100, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(138, 211, 124, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(111, 188, 115, 0.7); border: 2px solid white;"></span>

            <!-- <span style="background: rgba(255, 0, 0, 0.7); border: 2px solid #1dfff4;"></span>
            <span style="background: black; border: 2px solid #d91dff;"></span>
            <span style="background: white; border: 2px solid rgb(0, 255, 76);"></span> -->
        </div>
        <div class="info">
            <p>Database Design</p>
            <p>SQL Databases</p>
            <p>NoSQL Databases</p>
        </div>
    </div>
    <hr>



    <!-- <div class="list">
        <div class="titleOne">
            <h3>Front End</h3>
            <ul class="secondary">
                <li>Responsive Layouts</li>
                <li>Styling and Animations</li>
                <li>Front End Architecture</li>
            </ul>
        </div>
        <div class="cube"></div>
        <div class="titleTwo">
            <li><h3>Back End</h3></li>
            <ul class="secondary">
                <li>MVC Architecture</li>
                <li>Object Relational Mapping</li>
                <li>Restful API</li>
            </ul>
        </div>
        <div class="cube"></div>
        <div class="titleThree">
            <li><h3>Database</h3></li>
            <ul class="secondary">
                <li>Database Design</li>
                <li>SQL Databases</li>
                <li>NoSQL Databases</li>
            </ul>
        </div>
        <div class="cube"></div>
    </div> -->
</div>