<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h3 class="glow displayHeader">What I Do</h3>

    <div class="block">
        <h3 class="title glow">Front End</h3>
        <div class="cube" id="cubeOne">
            <span style="background: rgba(63, 108, 255, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(103, 126, 230, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(41, 89, 179, 0.7); border: 2px solid white;"></span>
        </div>
        <div class="info infoOne">
            <p>Responsive Layouts</p>
            <p>Styling and Animations</p>
            <p>Front End Architecture</p>
        </div>
    </div>
    <hr>
    <div class="block">
        <h3 class="title glow">Back End</h3>
        <div class="cube" id="cubeTwo">
            <span style="background: rgba(136, 55, 184, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(146, 91, 194, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(104, 47, 153, 0.7); border: 2px solid white;"></span>
        </div>
        <div class="info infoTwo">
            <p>MVC Architecture</p>
            <p>Object Relational Mapping</p>
            <p>Restful API</p>
        </div>
    </div>
    <hr>
    <div class="block">
        <h3 class="title glow">Database</h3>
        <div class="cube" id="cubeThree">
            <span style="background: rgba(255, 65, 71, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(243, 104, 108, 0.7); border: 2px solid white;"></span>
            <span style="background: rgba(192, 40, 45, 0.7); border: 2px solid white;"></span>
        </div>
        <div class="info infoThree">
            <p>Database Design</p>
            <p>SQL Databases</p>
            <p>NoSQL Databases</p>
        </div>
    </div>
</div>