
.portHeadWrapper {
    height: 100px;
    width: 100%;
    background: #5c5c5c;
    text-align: center;
    padding-top: 50px;
    border-bottom: 2px solid darkgray;;
    font-family: 'Libre Baskerville', sans-serif;
    color: white;
}

.portHeadWrapper h2 {
  font-size: 31px;
}