.carousel-caption h3 {
    color: white;
}

@media only screen and (max-width: 480px) {
    .carousel {
        width: 350px;
    }
    .content {
        top: 30px;
    }
    .icons {
        width: 100%;
    }
}
@media only screen and (min-width: 481px) {
    .carousel {
        width: 500px;
    }
    .content {
        top: 120px;
    }
    .icons {
        width: 95%;
    }
}
@media only screen and (min-width: 1024px) {
    .icons {
        width: 88%;
    }
}