
@media only screen and (max-width: 480px) {
    .carousel {
        width: 350px;
    }
    .content {
        top: 30px;
    }
}
@media only screen and (min-width: 481px) {
    .carousel {
        width: 500px;
    }
    .content {
        top: 120px;
    }
}