<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

<div class="wrapper">
    <h1 class="glow displayHeader">Gameflix</h1>
    <a href="https://github.com/wilsonramstead/GameFlix2" target="_blank" class="sourceCode">View Source Code</a>
    <div class="carousel">
        <ngb-carousel style="width: 96%;">
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/gameflixMain.png" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>Main</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/gameflixJumpman.png" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <h3>Jumpman</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/gameflixTrivia.png" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>Trivia</h3>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/imgs/projectPics/gameflixBlackjack.png" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>BlackJack</h3>
            </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="content">
        <p>Gameflix is a website built to hold three javascript games I created during my studies. The games consist of trivia, blackjack, and Jumpman.</p>
    </div>
</div>