
@media only screen and (max-width: 480px) {
    .wrapper {
        height: 700px;
        width: 100%;
        background-color: #2e2e2e;
        font-family: 'Libre Baskerville', serif;
    }
    
    .center {
        text-align: center;
        color: white;
        padding-top: 10%;
    }
    .center h2 {
        font-size: 10vw;
    }
    .center h5 {
        font-size: 5vw;
    }
    .nav {
        display: none;
    }
    .nav a {
        color: white;
    }
    .signOff {
        height: 50px;
        width: 60%;
        margin: 80px 0px 0px 20%;
        border-top: 3px solid white;
        display: inline-block;
        text-align: center;
    }
    .signOff h6 {
        color: white;
        padding-top: 10px;
        font-size: 3vw;
    }
    .globe {
        margin: 0px auto;
        margin-top: 80px;
        height: 250px;
        width: 250px;
        background-image: url(https://imgc.allpostersimages.com/img/print/u-g-PN13HF0.jpg?w=550&h=550&p=0);
        border-radius: 50%;
        background-size: cover;
        box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
        animation: spin 10s linear alternate infinite;
    }
    @keyframes spin {
        100%{background-position: 100%};
    }
}
@media only screen and (min-width: 481px) {
    .wrapper {
        height: 600px;
        width: 100%;
        background-color: #2e2e2e;
        font-family: 'Libre Baskerville', serif;
    }
    .center {
        text-align: center;
        color: white;
        padding-top: 4%;
    }
    .center h2 {
        font-size: 40px;
    }
    
    .nav {
        height: 50px;
        width: 30%;
        margin: 0px 3% 0% 3%;
        border-top: 3px solid white;
        display: inline-block;
        vertical-align: top;
        padding-top: 2px;
    }
    .signOff {
        height: 50px;
        width: 30%;
        margin-left: 31%;
        border-top: 3px solid white;
        display: inline-block;
        text-align: center;
    }
    .nav a {
        margin-left: 4%;
        padding-top: 10px;
        color: white;
        font-size: 1.4vw;
    }
    .nav a {
        color: white;
    }
    .nav a:hover {
        color: #007bfe;
        text-decoration: underline;
    }
    
    .signOff h6 {
        color: white;
        padding-top: 10px;
        font-size: 1.5vw;
    }
    .globe {
        margin: 0px auto;
        margin-top: 50px;
        height: 300px;
        width: 300px;
        background-image: url(https://imgc.allpostersimages.com/img/print/u-g-PN13HF0.jpg?w=550&h=550&p=0);
        border-radius: 50%;
        background-size: cover;
        box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
        animation: spin 10s linear alternate infinite;
    }
    @keyframes spin {
        100%{background-position: 100%};
    }
}
@media only screen and (min-width: 1024px) {
    .nav {
        padding-top: 8px;
    }
}
