
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

<div class="wrapper">
    <div class="center">
        <h2>Wilson Ramstead</h2>
        <h5>Software Developer</h5>
        <div class="globe"></div>
    </div>
    <div class="iconBar">
        <div class="logos">
            <a href="mailto:ramsteadwilson@gmail.com?subject=Email from your website!"><img src="assets/imgs/icons/emal5.png" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/in/wilson-ramstead-50a613183" target="_blank"><img src="assets/imgs/icons/linkedin.png" alt="linkedin logo"></a>
            <a href="https://github.com/wilsonramstead" target="_blank"><img src="assets/imgs/icons/github.png" alt="linkedin logo"></a>
        </div>
    </div>
    <div class="signOff">
        <h6>Thanks for visiting, have a great day!</h6>
    </div>
</div>